@import '../../../style/variables';

.person-button {
  display: inline-block;
  text-align: center;
  &-content {
    width: 120px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    background-color: $light-gray;
    color: black;
    padding: 0;
  }

  &-delete {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 40px;
    line-height: 40px;
    background-color: $primary-color;
    color: white;
  }
}
